Library/
Temp/
Build/
Obj/
UnityGenerated/
Bin/
*.csproj
*.sln
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db